@charset "UTF-8";

/*-----Index.html-----*/

    /*-----Header-----*/
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(24,24,24);
}
#cabecalho{
    background-color: rgb(32,32,32);
    box-shadow: 1px 1px 1px 3px rgba(53, 53, 53, 0.2);
    display: flex;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
#cabecalho_nome{
    font-size: 16px;
    margin-left: 5px;
    color: white;

}

nav{
    margin: auto;
    word-spacing: 20px;
    text-indent: -60px;
}
.nav_config{
    text-decoration: none;
    color: white;   
}
.nav_config:hover{
    text-decoration: underline;
    color: #cfafee;
}


    /*-----main-----*/
#principal_index{
    color: white;
    line-height: 44px;
    text-align: center;
    margin-top: 15vh;
    
}
#sub_principal{
    color: #bb87f0;;
}

#botão{
    text-decoration: none;
    background-image: linear-gradient(to right, #585897, #6f518f);
    padding: 6px 8px;
    font-weight: 500;
    color: #faebeb; 
    border-radius: 5px;
}
#botão:hover{
    box-shadow: 1px 1px 1px rgb(103, 124, 218);
    color: white;
    background-image: linear-gradient(to right, #585897e5, #6f518fe5);
}

/*-----Sobre.html-----*/


#config_text{
    max-width: 600px;
    min-width: 400px;
    color: black;
    border-radius: 6px;
    text-align: center;
    padding: 35px 70px;
    margin: auto;
    margin-top: 40px;
    background-color: rgb(218, 218, 218);
    box-shadow: 1px 1px 3px #000000;
}
#paragrafo{
    margin-top: 20px;
   
}
