@import url('https://fonts.googleapis.com/css2?family=Marko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@600&family=Gentium+Book+Basic&family=Medula+One&display=swap');
*{
  margin: 0px;
  overflow-x: hidden;
}
body{
  background-image: linear-gradient(to top, #001b29, #00283a, #003147);
}

header{
  display: flex;
  align-items: center;
  margin: auto;
  color: white;
  width: fit-content;
}
header p{
  margin-left: 20px;
  font-size: 20px;
}






label{
  font-family: 'Gentium Book Basic', serif;
  color: black;
  font-size: 20px;
}
input{
  border-radius: 2px;
  margin-top: 10px;
  padding:0 5px;
  background-color: transparent;
  border:none;
  border-bottom: 1px solid #45C4B0;
  outline: none;
  color: rgb(0, 0, 0);
}
input:hover{
  background-color: #21ceb715;
}
select{
  border-radius: 5px;
  border-color: #21ceb749;
  height: 24px;
}
select:hover{
  background-color: #21ceb749;
}

#area_form{    
  height: fit-content;
  max-width: 500px;
  min-width: 300px;
  border-radius: 2px;
  margin: auto;
  margin-top: 5vh;
  background-color: white;
  box-shadow: 0px 0px 4px #45C4B0;
  margin-bottom: 20vh;
}
#form_titulo{
  padding-left: 2px;
  padding-top: 12px;
  margin: 30px;
  margin-top: 10px;
  margin-bottom: 12px;
  font-size: 23px;
  color: #012030;
  font-family: 'Gentium Book Basic', serif;
  
}
#form_titulo::after{
  animation: scale-in-hor-left 3s;
  content:" " ;
  display: block;
  border-left: -29vw;
  height: 3px;
  background-color: currentColor;
  margin: 5px auto;
}

@-webkit-keyframes scale-in-hor-left {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
}
@keyframes scale-in-hor-left {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
}
#form{
  margin-left: 30px;
}
.form_caixa{
  width: 330px;
}
#botao{
  width: 200px;
  height: 30px;
  margin-bottom: 25px;
  border-radius: 10px;
  border-color: #21ceb7;
  color: black;
  background-color: #ffffff;
  margin-left: 25%;

}
#botao:hover{
  background-color: #21ceb749;
  cursor: pointer;
}
