@import url('https://fonts.googleapis.com/css2?family=Marko+One&display=swap');

*{
    margin: 0px;
}
body{
    background-color: #012030;
}

#cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#img_dog{
    padding: 5px;
    margin-left: 4vh;
    height: 50px;
}
.menu_nav{
    margin-right: 29px;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Marko One', serif;
}
.menu_nav:hover{
    text-decoration: 1px underline #9AEBA3;
} 
#area_form{    
    height: fit-content;
    max-width: 500px;
    min-width: 300px;
    border-radius: 10px;
    margin: auto;
    margin-top: 6vh;
    background-color: white;
    box-shadow: 2px 2px 5px #45C4B0;
}
#form_titulo{
    border-bottom: 1px solid;
    padding-left: 2px;
    padding-top: 12px;
    margin: 30px;
    margin-top: 30px;
    font-size: 20px;
    color: #012030;
}
#form{
    margin-left: 30px;
}
.form_caixa{
    width: 330px;
}
