

@import url('https://fonts.googleapis.com/css2?family=Marko+One&display=swap');

*{
    overflow-x: hidden;
    margin: 0px;
}
body{
    background-color: #012030;
}

#menu{
    height: 100vh;
    background-image: url("imgs/jonathan-ford-6ZgTEtvD16I-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#cabecalho{
    background-color: #012030;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 1px 5px black;
}

#img_dog{
    padding: 5px;
    margin-left: 4vh;
    height: 50px;
}

.menu_nav{
    margin-right: 29px;
    color: white;
    text-decoration: none;
    font-family: 'Marko One', serif;
}
.menu_nav:hover{
    text-decoration: 1px underline #13678A;

}
#menu_titulo{
    color: aliceblue;
    font-family: 'Marko One', serif;
    font-size: calc(2em + 2.2vw);
    padding: 16px;
    text-align: center;
    background-color: #012030bd;
    box-shadow: 0px 2px 5px black;
    margin-top: 10vh;
    animation:  focus-in-contract 3s ;
}

@-webkit-keyframes focus-in-contract {
    0% {
      letter-spacing: 1em;
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes focus-in-contract {
    0% {
      letter-spacing: 1em;
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }

  .focus-in-contract {
	-webkit-animation: focus-in-contract 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: focus-in-contract 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
  
#menu_titulo::after{
    content:" " ;
    display: block;
    width: calc(2em + 30vw);
    height: 3px;
    background-color: currentColor;
    margin: 10px auto;
}

#menu_seta{
    height: calc(1.5em + 2.5vw);
    border-radius: 100%;
    display: block;
    margin: auto;
    margin-top: 32vh;
    animation: flutuar 3s ease-in-out infinite;

}

@keyframes flutuar{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-12px);
    }
    100%{
        transform: translateY(0px);
    }
} 

#tela_2{
    margin: auto;
    display: flex;
    margin-top: 15vh;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 4px 4px 0px 0px;
    width: 100vw;
    padding-bottom: 35vh;
    height: fit-content;

}
#escrita{
    width: 50%;
}
#tela2_titulo{
    margin-top: 60px;
    font-family: 'Marko One', serif;
    color:#13678A;
    font-size: 8vh;
}
#tela2_paragrafo{
    font-family: 'Marko One', serif;
    color:#9AEBA3;
    font-size: 3vh;
    margin-top: 50px;
}
#mapa_brasil{
    margin-left: 2vw;
    width: fit-content;

}

#mapa{
    margin-top: 20px;
}


#tela_3{
    margin: auto;
    display: flex;
    padding: 8px;
    border-radius: 4px;
    width: 99.13%;
    height: 100vh;

}
#conteudo3{
    width: 100%;
}
#form{
    background-color: aliceblue;
    box-shadow:  5px 5px 15px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 500px;
    padding: 50px;
    border-radius: 20px;
}
