@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lobster&display=swap');

#gif{
    width: 70px;
    margin-right: 5px;
}

main{
    margin: auto;
    margin-top: 15vh;
    width: fit-content;
    /*max-width: 1000px;
    min-width: 700px;*/
    display: flex;
    
}

#titulo{
    text-align: center;
    font-weight: 250px;
    font-family: 'Indie Flower', cursive;
    margin-bottom: 10px;
}

#area{
    padding-left: 10px;
    padding-right: 40px;
    padding-bottom: 10px;
    width: fit-content;
    height: 400px;
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
    box-shadow: 1px 3px 4px  #202020ad;
}
#form{
    text-align: left;
    width: fit-content;
    padding: 20px;
    border-radius: 10px;
    height: 280px;
}

.imag{
    
}

iframe{
    margin-left: 15px;
    width: 360px;
    height: 300px;
}

#final{
    text-align: center;
    border-radius: 10px;
    color: white;
    background-color: rgb(70, 42, 170);
    padding: 4px;
    margin-left: 75vh;
}
#final:hover{
    color: white;
    text-decoration: underline;
    box-shadow: 1px 1px 3px #202020ad;

}
#bt_final{
    text-decoration: none;
    color: white;
}

#teste1{
    display: flex; 
    justify-content: center;
}