@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

hr{
    margin-left: 63px;
    width: 270px;
}

#link_fontes{
    margin-top: 5vh;
    line-height: 45px;
    text-align: center;
}
.links{
    font-family: 'PT Serif', serif;
    font-size: 18px;
    font-weight: 900;
    color: #23292C;
    text-decoration: none;
}
.links:hover{
    text-decoration: underline;
}