@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lobster&display=swap');

main{
    margin: auto;
    margin-top: 12vh;
    max-width: 1000px;
    min-width: 700px;
    display: flex;
    
}

#titulo{
    text-align: center;
    font-weight: 250px;
    font-family: 'Indie Flower', cursive;
    margin-bottom: 10px;
}

#area{
    margin-left: 44px;
    width: 500px;
    height: 400px;
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
    box-shadow: 1px 3px 4px  #202020ad;
}
#form{
    text-align: left;
    padding: 20px;
    border-radius: 10px;
    height: 280px;
}

.imag{
    width: 100%;
}

iframe{
    margin-left: 50px;
    width: 400px;
    height: 300px;
}

#final{
    text-align: center;
    border-radius: 10px;
    color: white;
    background-color: rgb(70, 42, 170);
    padding: 4px;
    margin-left: 85vh;
}
#final:hover{
    color: white;
    text-decoration: underline;
    box-shadow: 1px 1px 3px #202020ad;

}
#bt_final{
    text-decoration: none;
    color: white;
}

#rodape{
    margin-top: 21vh;
    margin-right: 10px;
    height: 23px;
    text-align: right;
}

p{
    font-size: larger;
}