@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic&family=PT+Serif&display=swap');
/* */


header{
    display: flex;
    justify-content: space-between;
    margin-top: 23px;
}

#inter{
    margin-right: 10px;
}
#inter:hover{
    box-shadow: 1px 1px 1px black;
}

#fundo{
    background-color: #2e3744;
}


.extra{

    margin-left: 10px;
    border-radius: 6px;
    padding: 5px;
    color: whitesmoke;
    background-color: #516067;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-decoration: none;;
}
.extra:hover{
    box-shadow: 1px 1px 3px #070707;
    text-decoration: underline;
}

#gif{
    width: 70px;
    margin-right: 5px;
}

.imag{
    transform: translateY(0px);
    animation: flutuar 5s ease-in-out infinite;
}

@keyframes flutuar{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0px);
    }
} 
/*
Video: https://www.youtube.com/watch?v=BTQHO-yP-CA
*/
main{
    margin: auto;
    margin-top: 11vh;
    width: fit-content;
    display: flex;
    
}

#titulo{
    color: #23292C;
    text-align: center;
    font-weight: 250px;
    font-family: 'Indie Flower', 'cursive';
    margin-bottom: 10px;
}

#area{
    margin-left: 20px;
    padding-left: 10px;
    padding-right: 40px;
    padding-bottom: 10px;
    width: 370px;

    height: 400px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 2px 2px 13px  #272727;
}
#form{
    text-align: left;
    width: fit-content;
    padding: 20px;
    border-radius: 10px;
    height: 280px;
}

#scrol{
    margin-left: 15px;
    width: 360px;
    height: 300px;
}
input{
    border: 2px solid #2e2e2ebb;
    border-radius: 3px;
}
#final{
    text-align: center;
    border-radius: 10px;
    color: white;
    background-color: #516067;
    padding: 4px;
    margin-left: 75vh;
}
#final:hover{
    color: white;
    text-decoration: underline;
    box-shadow: 1px 1px 3px black;

}
#bt_final{
    text-decoration: none;
    color: white;
}

#teste1{
    display: flex; 
    justify-content: center;
}

footer{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

#divisor{
    height:2px;
    border-width:0;
    color:#516067;
    background-color:#516067;
    margin-top: 60px;
    width: 200vh;
    border-radius: 20px;
    box-shadow: 1px 1px  #272727;

}

#livros{
    margin: auto;
    margin-top: 60px;
    margin-bottom: 50px;
    padding: 10px;

    max-width: 700px;
    min-width: 400px;

    height: fit-content;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 2px 2px 13px  #272727;
    
}

#liv_titulo{
    text-align: center;
    color: #23292C;
    font-size: 30px;
    font-family: 'Gentium Book Basic', serif;
    margin-bottom: 20px;

    
}

#cad_img{
    border-radius: 100%;
    width: 81px;
    height: 90px;

    
}

#cad_livros{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-width: 600px;
    min-width: 300px;
    margin: auto;
    margin-top: 30px;
}
.sinopse{
    font-size: 16.3px;
    font-family: 'Gentium Book Basic', serif;
    line-height: 22px;
    margin-left: 20px;
}