@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lobster&display=swap');
/* */


header{
    margin-top: 13px;
    display: flex;
    justify-content: space-between;
}

#inter{
    margin-right: 10px;
}
#inter:hover{
    box-shadow: 1px 1px 1px black;
}

#fundo{
    height: 96.3vh;
    background-image: linear-gradient(150deg, #23292c 60%, #2c373b 98%);
}


.extra{

    margin-left: 10px;
    border-radius: 6px;
    padding: 5px;
    color: whitesmoke;
    background-color: #516067;
    text-decoration: none;;
}
.extra:hover{
    box-shadow: 1px 1px 3px #070707;
    text-decoration: underline;
}

#gif{
    width: 70px;
    margin-right: 5px;
}

.imag{
    transform: translateY(0px);
    animation: float 5s ease-in-out infinite;
}
@keyframes float{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0px);
    }
} 
/*
Video: https://www.youtube.com/watch?v=BTQHO-yP-CA
*/
main{
    margin: auto;
    margin-top: 11vh;
    width: fit-content;
    display: flex;
    
}

#titulo{
    color: #23292C;
    text-align: center;
    font-weight: 250px;
    font-family: 'Indie Flower', 'cursive';
    margin-bottom: 10px;
}

#area{
    margin-left: 20px;
    padding-left: 10px;
    padding-right: 40px;
    padding-bottom: 10px;
    width: 370px;

    height: 400px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 1px 2px 4px  #516067;
}
#form{
    text-align: left;
    width: fit-content;
    padding: 20px;
    border-radius: 10px;
    height: 280px;
}

#scrol{
    margin-left: 15px;
    width: 360px;
    height: 300px;
}
input{
    border: 2px solid #2e2e2ebb;
    border-radius: 3px;
}
#final{
    text-align: center;
    border-radius: 10px;
    color: white;
    background-color: #516067;
    padding: 4px;
    margin-left: 75vh;
}
#final:hover{
    color: white;
    text-decoration: underline;
    box-shadow: 1px 1px 3px black;

}
#bt_final{
    text-decoration: none;
    color: white;
}

#teste1{
    display: flex; 
    justify-content: center;
}

footer{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}